<div class="portlet {{classes}} {{sizeClass}}" {{#collapsed}}collapse{{/collapsed}} data-AdminModule="portlet">
   <div class="portlet-title">
      <div class="caption">
         {{#icon}}<i class="{{icon}} {{font}}"></i>{{/icon}}
         <span class="{{font}} bold uppercase">{{title}}</span>
      </div>
      <div class="actions">

      </div>
   </div>
   <div class="portlet-body">

   </div>
</div>